/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #0062cc;
  font-family: Arial;
   background-image: linear-gradient(to right, #6b2f91 , #8039ac , #5f39ac , #0062cc , #003acc);
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a color background to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #8538b5;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b770fe;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-image: linear-gradient(180deg, #a047cc , #cc47cc);
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a color background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #a22fba;
  background-image: linear-gradient(180deg, #cc47cc , #a047cc);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}